<% include partials/head %>

<body>
    <% include partials/nav %>
    <% include partials/modais %>

    <!-- Full Width Image Header -->
    <header class="header-feed" id="top">
        <div class="bannerFeed">
            <div class="container">
                <h1 class="fontCursive">
                    <img class="picview-image img-circle img-responsive" src="img/logoNew.png">
                    te<span class="redStk">Mexe</span>!
                </h1>
            </div>
        </div>
    </header>

    <% include partials/navInner %>
    <!-- Page Content -->

    <!-- <h1 class="text-center"><span class="redViz fontCursive">Feed</span>.</h1> -->


    <div class="container mapContainer" id="wrapperMap">
        <div id="map"></div>
    </div>

    <!-- FEED -->
    <div class="containerFeed">
        <div class="container ">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="grid">

                        <!-- teMexe -->
                        <% for ( var i = 0; i < suggestions.length-4; i++ ) { %>
                            <%
                                if (suggestions[i].type == 'fb') {
                                    var redeSocial = 'dataFacebook';
                                    var tag = 'facebook';
                                }else if(suggestions[i].type == 'tt') {
                                    var redeSocial = 'dataTwitter';
                                    var tag = 'twitter';
                                }else if(suggestions[i].type == 'insta') {
                                    var redeSocial = 'dataInstagram';
                                    var tag = 'instagram';
                                }else if(suggestions[i].type == 'suggestion') {
                                    var redeSocial = 'dataTeMexe';
                                    var tag = 'teMexe';
                                }else {
                                    var redeSocial = '';
                                }

                                if( i == 0) {
                                    var gridSizer = 'grid-sizer';
                                }else {
                                    var gridSizer = '';
                                }
                            %>
                            <div class="col-lg-3 col-md-4 col-sm-6 grid-item <%= gridSizer %> <%= redeSocial %>">

                                <div class="userPost sugestAceito">
                                    <div class="checkAceito">
                                        <i class="fa fa-check"></i>
                                    </div>
                                    <span class="socialInfo">
                                        <a href="#">
                                            <% if( tag !== 'teMexe') { %>
                                                <i class="fa fa-<%=tag%>"></i>
                                            <% }else { %>
                                                <img src="/img/miniCone.png" alt=""/>
                                            <% } %>
                                        </a>
                                    </span>
                                    <a class="userImgName" href="/user/<%= suggestions[i].user.user %>">
                                        <img src="/<%= suggestions[i].user.photo%>" class="">
                                        <span> @<%= suggestions[i].user.user%></span>
                                    </a>
                                    <hr>
                                    <div class="mainPicture">
                                        <a><img src="/<%= suggestions[i].image %>"></a>
                                    </div>
                                    <div class="postContent">
                                        <h4><%= suggestions[i].title %></h4>
                                        <p> <%= suggestions[i].description %> </p>
                                        <hr>
                                    </div>
                                    <div class="postData fontCursive">
                                        <% if( tag !== 'teMexe') { %>
                                            <a href="" title="Concordar" class="like">
                                                <i class="fa fa-heart-o"></i>
                                                <span> <%=suggestions[i].likes %></span>
                                            </a>
                                        <% }else { %>
                                            <a href="" title="Concordar" class="voteSuggestion">
                                                <i class="fa fa-hand-o-up"></i>
                                                <span> <%=suggestions[i].likes%></span>
                                            </a>
                                        <% } %>
                                        <a href="#" title="Time posted" class="pull-right timeInfo"><i class="fa fa-clock"></i> <%=suggestions[i].dataFormatada%></a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <!-- END -->

                    </div> <!-- /grid -->
                </div> <!-- /row -->
                <div class="row text-center loadMore">
                    <button class="btn btn-banner btn2 redViz fontCursive">Ver Mais Postagens</button>
                </div>
            </div>
        </div> <!-- /container -->
    </div><!-- /containerFeed -->

    <div class="container">
        <!-- <hr class="picview-divider"> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; teMexe! 2016. Created by <a href="#">Manga com Leite</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/scripts.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnkHr-RCvGFM1KM8_9v_gXuvmCpLBLKkw&callback=initMap"></script>

</body>

</html>
