<% include partials/head %>

<body>
    <% include partials/nav %>
    <% include partials/modais %>

    <!-- Full Width Image Header -->
    <header class="header-feed" id="top">
        <div class="bannerFeed">
            <div class="container">
                <h1 class="fontCursive">
                    <img class="picview-image img-circle img-responsive" src="img/logoNew.png">
                    te<span class="redStk">Mexe</span>!
                </h1>
            </div>
        </div>
    </header>

    <% include partials/navInner %>
    <!-- Page Content -->

    <!-- <h1 class="text-center"><span class="redViz fontCursive">Feed</span>.</h1> -->


    <div class="container mapContainer" id="wrapperMap">
        <div id="map"></div>
    </div>

    <!-- FEED -->
    <div class="containerFeed">
        <div class="container ">

           <div class="col-lg-3 col-md-3 col-sm-12">
               <!-- General -->
                <div class="col-lg-12 col-md-12 col-sm-12 grid-item">
                    <div class="userPost">

                        <%
                            var fb = 0;
                            var tw = 0;
                            var it = 0;
                            var tm = 0;
                            for ( var i = 0; i < userLogado.problems.length; i++ ) {
                                var varName = userLogado.problems[ i ].type;

                                if (varName.localeCompare("fb")==0) {
                                    fb++;
                                }else if (varName.localeCompare("tt")==0) {
                                    tw++;
                                }else if (varName.localeCompare("insta")==0) {
                                    it++;
                                }else {
                                    tm++;
                                }
                            }
                            for ( var i = 0; i < userLogado.suggestions.length; i++ ) {
                                var varName = userLogado.suggestions[ i ].type;

                                if (varName.localeCompare("fb")==0) {
                                    fb++;
                                }else if (varName.localeCompare("tt")==0) {
                                    tw++;
                                }else if (varName.localeCompare("insta")==0) {
                                    it++;
                                }else {
                                    tm++;
                                }
                            }
                        %>

                        <a class="userImgName">
                            <img src="/<%=userLogado.photo%>" class="">
                            <span> <%= userLogado.nome %></span>
                        </a>
                        <hr>
                        <div class="socialMediaBanner miniInfoUser">
                            <a href="#">
                                <div>
                                    <i><img src="img/miniCone.png"></i>
                                    <span><%= tm%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter-square"></i>
                                    <span><%= tw%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-instagram"></i>
                                    <span><%= it%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-facebook-square"></i>
                                    <span><%= fb%></span>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <!-- Full List -->
                <div class="col-lg-12 col-md-12 col-sm-12 grid-item">

                    <!-- Opcoes -->
                    <div class="userPost">
                        <span class="number">
                            <a class="fontCursive">3/11</a>
                        </span>
                        <a class="userImgName">
                            <i class="fa fa-search"></i> Filtros
                        </a>
                        <hr>
                        <div class="stalkingContent">
                            <h4>Redes Sociais</h4>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                <span class="tm">teMexe!</span> <img src="img/miniCone.png">
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                <span class="fb">Facebook</span> <i class="fa fa-facebook fb"></i>
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                <span class="it">Instagram</span> <i class="fa fa-instagram it"></i>
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                <span class="tw">Twitter</span> <i class="fa fa-twitter tw"></i>
                            </div>

                            <h4>Curtidas</h4>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                Minhas curtidas
                            </div>
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                Curtidas dos amigos
                            </div>

                            <h4>Cidades</h4>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                Charqueadas
                            </div>
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                São Jerônimo
                            </div>
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                General Câmara
                            </div>
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                Triunfo
                            </div>
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                Barão do Triunfo
                            </div>


                        </div>
                    </div>
                </div>
           </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="row">
                    <div class="grid">

                        <!-- teMexe -->
                        <% for ( var i = 0; i < promAndSug.length; i++ ) { %>
                            <%
                                if (promAndSug[i].type == 'fb') {
                                    var redeSocial = 'dataFacebook';
                                    var tag = 'facebook';
                                }else if(promAndSug[i].type == 'tt') {
                                    var redeSocial = 'dataTwitter';
                                    var tag = 'twitter';
                                }else if(promAndSug[i].type == 'insta') {
                                    var redeSocial = 'dataInstagram';
                                    var tag = 'instagram';
                                }else if(promAndSug[i].type == 'suggestion' || promAndSug[i].type == 'TeMexe') {
                                    var redeSocial = 'dataTeMexe';
                                    var tag = 'teMexe';
                                }else {
                                    var redeSocial = '';
                                }

                                if( i == 0) {
                                    var gridSizer = 'grid-sizer';
                                }else {
                                    var gridSizer = '';
                                }
                            %>
                            <div class="col-lg-4 col-md-4 col-sm-6 grid-item <%= gridSizer %> <%= redeSocial %>">
                                
                                <%if (i%4!=0) {%>
                                    <div class="userPost">
                                <%} else{%>
                                    <div class="userPost sugestAceito">
                                        <div class="checkAceito">
                                            <i class="fa fa-check"></i>
                                        </div>
                                <%}%>
                                    <span class="socialInfo">
                                        <a href="#">
                                            <% if( tag !== 'teMexe') { %>
                                                <i class="fa fa-<%=tag%>"></i>
                                            <% }else { %>
                                                <img src="/img/miniCone.png" alt=""/>
                                            <% } %>
                                        </a>
                                    </span>
                                    <a class="userImgName" href="/user/<%= promAndSug[i].user.user %>">
                                        <img src="/<%= promAndSug[i].user.photo%>" class="">
                                        <span> @<%= promAndSug[i].user.user%></span>
                                    </a>
                                    <hr>
                                    <div class="mainPicture">
                                        <a><img src="/<%= promAndSug[i].image %>"></a>
                                    </div>
                                    <div class="postContent">
                                        <%if (promAndSug[i].type == 'suggestion') {%>
                                            <h4><%= promAndSug[i].title %></h4>
                                        <%}%>
                                        
                                        <p> <%= promAndSug[i].description %> </p>
                                        <hr>
                                    </div>
                                    <div class="postData fontCursive">
                                        <% if( tag !== 'teMexe') { %>
                                            <a href="" title="Concordar" class="like">
                                                <i class="fa fa-heart-o"></i>
                                                <span> <%=promAndSug[i].likes %></span>
                                            </a>
                                        <% }else { %>
                                            <a href="" title="Concordar" class="voteSuggestion">
                                                <i class="fa fa-hand-o-up"></i>
                                                <span> <%=promAndSug[i].likes%></span>
                                            </a>
                                        <% } %>
                                        <a href="#" title="Time posted" class="pull-right timeInfo"><i class="fa fa-clock"></i> <%=promAndSug[i].dataFormatada%></a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <!-- END -->

                    </div> <!-- /grid -->
                </div> <!-- /row -->
                <div class="row text-center loadMore">
                    <button class="btn btn-banner btn2 redViz fontCursive">Ver Mais Postagens</button>
                </div>
            </div>
        </div> <!-- /container -->
    </div><!-- /containerFeed -->

    <div class="container">
        <!-- <hr class="picview-divider"> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; teMexe! 2016. Created by <a href="#">Manga com Leite</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/scripts.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnkHr-RCvGFM1KM8_9v_gXuvmCpLBLKkw&callback=initMap"></script>

</body>

</html>
