<% include partials/head %>

<body>
    <% include partials/nav %>

    <!-- New Complaint Modal -->
    <div class="modal fade" id="modalReclamacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/problemas" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Nova Reclamação</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="description">Descrição:</label>
                            <input type="text" name="description" class="form-control" id="description">
                        </div>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <label for="image" class="title">Imagem:</label>
                                    <div class="col-md-12">
                                        <!-- image-preview-filename input [CUT FROM HERE]-->
                                        <div class="input-group image-preview">
                                            <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                            <span class="input-group-btn">
                                                <!-- image-preview-clear button -->
                                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                    <span class="glyphicon glyphicon-remove"></span> Clear
                                                </button>
                                                <!-- image-preview-input -->
                                                <div class="btn btn-default image-preview-input">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <span class="image-preview-input-title">Browse</span>
                                                    <input type="file" accept="image/png, image/jpeg, image/gif" id="image" name="name"/> <!-- rename it -->
                                                </div>
                                            </span>
                                        </div><!-- /input-group image-preview [TO HERE]-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3804.2079238637243!2d-51.624552085086!3d-29.965669305948133!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ee860010ec1ea1e!2sInstituto+Federal+de+Educa%C3%A7%C3%A3o%2C+Ci%C3%AAncia+e+Tecnologia+Sul-rio-grandense!5e0!3m2!1sen!2sbr!4v1481964758711" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <input type="submit" class="btn btn-primary color-customizable"/ value="Publicar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- New Improvement Modal -->
    <div class="modal fade" id="modalMelhoria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Sugestão de melhoria</h4>
                </div>
                <div class="modal-body">
                    <form action="/problemas" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="description">Título:</label>
                            <input type="text" name="description" class="form-control" id="title">
                        </div>
                        <div class="form-group">
                            <label for="description">Descrição:</label>
                            <input type="text" name="description" class="form-control" id="description">
                        </div>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <label for="image" class="title">Imagem:</label>
                                    <div class="col-md-12">
                                        <!-- image-preview-filename input [CUT FROM HERE]-->
                                        <div class="input-group image-preview">
                                            <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                            <span class="input-group-btn">
                                                <!-- image-preview-clear button -->
                                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                    <span class="glyphicon glyphicon-remove"></span> Clear
                                                </button>
                                                <!-- image-preview-input -->
                                                <div class="btn btn-default image-preview-input">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <span class="image-preview-input-title">Browse</span>
                                                    <input type="file" accept="image/png, image/jpeg, image/gif" id="image" name="input-file-preview"/> <!-- rename it -->
                                                </div>
                                            </span>
                                        </div><!-- /input-group image-preview [TO HERE]-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3804.2079238637243!2d-51.624552085086!3d-29.965669305948133!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ee860010ec1ea1e!2sInstituto+Federal+de+Educa%C3%A7%C3%A3o%2C+Ci%C3%AAncia+e+Tecnologia+Sul-rio-grandense!5e0!3m2!1sen!2sbr!4v1481964758711" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary color-customizable">Publicar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Full Width Image Header -->
    <header class="header-feed" id="top">
        <div class="bannerFeed">
            <div class="container">
                <h1 class="fontCursive">
                    <img class="picview-image img-circle img-responsive" src="img/logoNew.png">
                    te<span class="redStk">Mexe</span>!
                </h1>
            </div>
        </div>
    </header>

    <!-- Navigation Inner -->
    <nav class="navbar navbarMedia" role="navigation">
        <div class="container text-center ">
            <div class="collapse navbar-collapse navbarMediaIn" id="">
                <ul class="nav navbar-nav centeredNav">
                    <li class="sliding-middle-out slidingActive">
                        <a href="" data-social="All">Mostrar Todos</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="TeMexe"><img class="teMexeLittleIcon" src="img/miniCone.png" alt="">Te Mexe</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Instagram"><i class="fa fa-instagram"></i> Instagram</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

    <!-- <h1 class="text-center"><span class="redViz fontCursive">Feed</span>.</h1> -->


    <div class="container mapContainer" id="wrapperMap">
        <div id="map"></div>
    </div>

    <!-- FEED -->
    <div class="containerFeed">
        <div class="container ">

           <div class="col-lg-3 col-md-3 col-sm-12">
               <!-- General -->
                <div class="col-lg-12 col-md-12 col-sm-12 grid-item">
                    <div class="userPost">
                        <a class="userImgName">
                            <img src="/<%=userLogado.photo%>" class="">
                            <span> <%= userLogado.nome %></span>
                        </a>
                        <hr>
                        <div class="socialMediaBanner miniInfoUser">
                            <a href="#">
                                <div>
                                    <i><img src="img/miniCone.png"></i>
                                    <span>50</span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter-square"></i>
                                    <span>5</span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-instagram"></i>
                                    <span>11</span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-facebook-square"></i>
                                    <span>178</span>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

                <!-- Full List -->
                <div class="col-lg-12 col-md-12 col-sm-12 grid-item">

                    <!-- Opcoes -->
                    <div class="userPost">
                        <span class="number">
                            <a href="#" class="fontCursive">3/4</a>
                        </span>
                        <a class="userImgName">
                            <i class="fa fa-search"></i> Filtro
                        </a>
                        <hr>
                        <div class="stalkingContent">
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                <span class="tm">teMexe!</span> <img src="img/miniCone.png">
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                <span class="fb">Facebook</span> <i class="fa fa-facebook fb"></i>
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                <span class="it">Instagram</span> <i class="fa fa-instagram it"></i>
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                <span class="tw">Twitter</span> <i class="fa fa-twitter tw"></i>
                            </div>

                        </div>
                    </div>
                </div>
           </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="row">
                    <div class="grid">

                        <!-- teMexe -->
                        <% for ( var i = 0; i < promAndSug.length; i++ ) { %>
                            <%
                                if (promAndSug[i].type == 'fb') {
                                    var redeSocial = 'dataFacebook';
                                    var tag = 'facebook';
                                }else if(promAndSug[i].type == 'tt') {
                                    var redeSocial = 'dataTwitter';
                                    var tag = 'twitter';
                                }else if(promAndSug[i].type == 'insta') {
                                    var redeSocial = 'dataInstagram';
                                    var tag = 'instagram';
                                }else if(promAndSug[i].type == 'suggestion') {
                                    var redeSocial = 'dataTeMexe';
                                    var tag = 'teMexe';
                                }else {
                                    var redeSocial = '';
                                }

                                if( i == 0) {
                                    var gridSizer = 'grid-sizer';
                                }else {
                                    var gridSizer = '';
                                }
                            %>
                            <div class="col-lg-4 col-md-4 col-sm-6 grid-item <%= gridSizer %> <%= redeSocial %>">
                                <div class="userPost">
                                    <span class="socialInfo">
                                        <a href="#">
                                            <% if( tag !== 'teMexe') { %>
                                                <i class="fa fa-<%=tag%>"></i>
                                            <% }else { %>
                                                <img src="/img/miniCone.png" alt=""/>
                                            <% } %>
                                        </a>
                                    </span>
                                    <a class="userImgName">
                                        <img src="/<%= promAndSug[i].user.photo%>" class="">
                                        <span> @<%= promAndSug[i].user.user%></span>
                                    </a>
                                    <hr>
                                    <div class="mainPicture">
                                        <a><img src="/<%= promAndSug[i].image %>"></a>
                                    </div>
                                    <div class="postContent">
                                        <p> <%= promAndSug[i].description %> </p>
                                        <hr>
                                    </div>
                                    <div class="postData fontCursive">
                                        <% if( tag !== 'teMexe') { %>
                                            <a href="" title="Concordar" class="like">
                                                <i class="fa fa-heart-o"></i>
                                                <span> <%=promAndSug[i].likes %></span>
                                            </a>
                                        <% }else { %>
                                            <a href="" title="Concordar" class="voteSuggestion">
                                                <i class="fa fa-hand-o-up"></i>
                                                <span> <%=promAndSug[i].likes%></span>
                                            </a>
                                        <% } %>
                                        <a href="#" title="Time posted" class="pull-right timeInfo"><i class="fa fa-clock"></i> <%=promAndSug[i].dataFormatada%></a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        <!-- END -->

                    </div> <!-- /grid -->
                </div> <!-- /row -->
                <div class="row text-center loadMore">
                    <button class="btn btn-banner btn2 redViz fontCursive">Ver Mais Postagens</button>
                </div>
            </div>
        </div> <!-- /container -->
    </div><!-- /containerFeed -->

    <div class="container">
        <!-- <hr class="picview-divider"> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; teMexe! 2016. Created by <a href="#">Manga com Leite</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/scripts.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnkHr-RCvGFM1KM8_9v_gXuvmCpLBLKkw&callback=initMap"></script>

</body>

</html>
