<% include partials/head %>

<body>

    <% include partials/nav %>

    <!-- New Complaint Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nova Reclamação</h4>
                </div>
                <div class="modal-body">
                    <form action="/problemas" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="description">Descrição:</label>
                            <input type="text" name="description" class="form-control" id="description">
                        </div>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <label for="image" class="title">Imagem:</label>
                                    <div class="col-md-12">
                                        <!-- image-preview-filename input [CUT FROM HERE]-->
                                        <div class="input-group image-preview">
                                            <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                                            <span class="input-group-btn">
                                                <!-- image-preview-clear button -->
                                                <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                                    <span class="glyphicon glyphicon-remove"></span> Clear
                                                </button>
                                                <!-- image-preview-input -->
                                                <div class="btn btn-default image-preview-input">
                                                    <span class="glyphicon glyphicon-folder-open"></span>
                                                    <span class="image-preview-input-title">Browse</span>
                                                    <input type="file" accept="image/png, image/jpeg, image/gif" id="image" name="input-file-preview"/> <!-- rename it -->
                                                </div>
                                            </span>
                                        </div><!-- /input-group image-preview [TO HERE]-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary color-customizable">Publicar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Full Width Image Header -->
    <header class="header-feed" id="top">
        <div class="bannerFeed">
            <div class="container">
                <h1 class="fontCursive">
                    <img class="picview-image img-circle img-responsive" src="img/logoNew.png">
                    te<span class="redStk">Mexe</span>!
                </h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->

    <!-- <h1 class="text-center"><span class="redViz fontCursive">Feed</span>.</h1> -->

    <!-- FEED -->
    <div class="containerFeed">
        <div class="container ">

           <div class="col-lg-3 col-md-3 col-sm-12">
                <!-- General -->
                <!-- Full List -->
                <div class="col-lg-12 col-md-12 col-sm-12 grid-item">

                    <!-- Opcoes -->
                    <div class="userPost">
                        <span class="number">
                            <a href="#" class="fontCursive">4/7</a>
                        </span>
                        <a class="userImgName">
                            <i class="fa fa-search"></i> Filtro
                        </a>
                        <hr>
                        <div class="stalkingContent">
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                Centro
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                Beira Rio
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                Cohab
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                Santo Antônio
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                Sul América
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-plus"></i></a>
                                São Miguel
                            </div>
                            <!-- Social -->
                            <div class="userStalking">
                                <a href="" class="deleteStalking"><i class="fa fa-check"></i></a>
                                AFP
                            </div>

                        </div>
                    </div>
                </div>
           </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="row">
                    <div class="improvement-page">

                        <!-- teMexe -->

                        <ul>
                            <% for ( var i = 0; i < melhorias.length; i++ ) { %>
                                <li data-toggle="modal" data-target="#improvementModal-<%=i+1%>">
                                    <div class="col-md-12 improvement-item">
                                        <div class="details">
                                            <span class="position"><%=i+1%>º</span>
                                            <h3 class="title"><%= melhorias[i].title %></h3>
                                        </div>
                                        <div class="voteNumber">
                                            <i class="fa fa-hand-pointer-o" aria-hidden="true"></i>
                                            <span class="votes"><%= melhorias[i].likes %></span>
                                        </div>
                                    </div>
                                </li>
                                <div class="modal improvementModal fade" id="improvementModal-<%=i+1%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="votesNumber"><span><%= melhorias[i].likes %></span> Votos</div>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <div class="image">
                                                    <img src="/<%= melhorias[i].image %>" alt="">
                                                </div>
                                            </div>
                                            <div class="modal-body">
                                                <h4 class="modal-title"><%= melhorias[i].title %></h4>
                                                <div class="descricao-melhoria">
                                                    <p><%= melhorias[i].description %></p>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                <button type="button" class="btn btn-primary vote"><span>Votar</span><i class="fa fa-hand-pointer-o" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <%}%>

                        </ul>

                        <!-- END -->

                    </div> <!-- /grid -->

                </div> <!-- /row -->
                <div class="row text-center loadMore">
                    <button class="btn btn-banner btn2 redViz fontCursive">Ver Mais Postagens</button>
                </div>
            </div>
        </div> <!-- /container -->
    </div><!-- /containerFeed -->

    <div class="container">
        <!-- <hr class="picview-divider"> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; teMexe! 2016. Created by <a href="#">Manga com Leite</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>
