<% include partials/head %>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top topnav menuTop" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav fontCursive sizeCursive" href="index.html"><img src="/img/logoNew.png" class="logoMenu"> teMexe!</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="sliding-middle-out"><a href="/"><i class="fa fa-heart-o"></i> Feed</a></li>
                    <li class="sliding-middle-out"><a href="/melhorias.html"><i class="fa fa-check" aria-hidden="true"></i> Melhorias</a></li>
                    <li class="sliding-middle-out"><a href="/dicas.html"><i class="fa fa-car"></i> Dicas de Trânsito</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" id="searchResults">
                        <!-- <a href=""><i class="fa fa-search"></i></a> -->

                        <form class="navbar-form navbar-right" role="search">
                            <div class="input-group input-search-top">
                                <input type="text" class="form-control" placeholder="Search..." id="searchInput" autocomplete="off">
                                <span class="input-group-btn">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-search"></i></button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                        <ul class="dropdown-menu dropdownResults">
                            <div class="arrow-up"></div>
                            <div class="loading text-center">
                                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                            </div>
                            <li class="divider"></li>
                            <li><a href="#">View All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown fontCursive">
                        <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a> -->
                        <a href="" class="dropdown-toggle dropdownToggleUser" data-toggle="dropdown"><img class="img-circle userPicMenu" src="/img/paulo.jpg"></a>

                        <ul id="login-dp" class="dropdown-menu dropdownUser">
                            <div class="arrow-up"></div>
                            <li><a href="#"><i class="fa fa-users"></i> My Accounts</a></li>
                            <li><a href="#"><i class="fa fa-user-plus"></i> Add Account</a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i> Following</a></li>
                            <li><a href="#"><i class="fa fa-star"></i> Followers</a></li>

                            <li class="divider"></li>

                            <li><a href="#" class=""><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Full Width Image Header -->
    <header class="header-image" id="top">
        <div class="userInfoBanner">
            <div class="container">

                <div class="picview">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img class="picview-image img-circle img-responsive" src="/<%= user.photo %>">
                    </div>
                    <div class="userInfoBannerIn col-lg-8 col-md-8 col-sm-12 fontCursive">
                        <h2 class="shadowedText"><%= user.nome %></h2>
                        <div class="miniInfo">
                            <a href="#" class="btn btn-banner btn1"><b><%= user.suggestions.length %></b> Sugestões</a>
                            <a href="#" class="btn btn-banner btn2 shadowedText"><b><%= user.problems.length %></b> Reclamações</a>
                        </div>
                        <div class="socialMediaBanner shadowedText">
                            <%
                                var fb = 0;
                                var tw = 0;
                                var it = 0;
                                var tm = 0;
                                for ( var i = 0; i < user.problemsAndSuggestions.length; i++ ) { 
                                    var varName = user.problemsAndSuggestions[ i ].type;

                                    if (varName.localeCompare("fb")==0) {
                                        fb++;
                                    }else if (varName.localeCompare("tt")==0) {
                                        tw++;
                                    }else if (varName.localeCompare("insta")==0) {
                                        it++;
                                    }else {
                                        tm++;
                                    }
                                }
                            %>
                            <a href="#">
                                <div>
                                    <i><img src="/img/miniCone.png"></i>
                                    <span><%=tm%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter-square"></i>
                                    <span><%=tw%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-instagram"></i>
                                    <span><%=it%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-facebook-square"></i>
                                    <span><%=fb%></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- Navigation Inner -->
    <nav class="navbar navbarMedia" role="navigation">
        <div class="container text-center ">
            <div class="collapse navbar-collapse navbarMediaIn" id="">
                <ul class="nav navbar-nav centeredNav">
                    <li class="sliding-middle-out slidingActive">
                        <a href="" data-social="All">Show All</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Twitter"><i class="fa fa-twitter-square"></i> Twitter</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Instagram"><i class="fa fa-instagram"></i> Instagram</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="" data-social="Facebook"><i class="fa fa-facebook-square"></i> Facebook</a>
                    </li>
                    <li class="sliding-middle-out">
                        <a href="">Help</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

    <!-- <h1 class="text-center"><span class="redViz fontCursive">Feed</span>.</h1> -->

    <!-- FEED -->
    <div class="containerFeed">
        <div class="container ">
            <div class="row">
                <div class="grid">

                    <% for ( var i = 0; i < user.problemsAndSuggestions.length; i++ ) { 
                        var gridSizer = '';
                        if ( i==0 ) {
                            gridSizer = 'grid-sizer';
                        }

                        var social = '';
                        var dataTag = '';
                        var varName = user.problemsAndSuggestions[ i ].type;
                        if (varName.localeCompare("fb")==0) {
                            social = 'facebook';
                            dataTag = 'dataFacebook';
                        }else if (varName.localeCompare("tt")==0) {
                            social = 'twitter';
                            dataTag = 'dataTwitter';
                        }else if (varName.localeCompare("insta")==0) {
                            social = 'instagram';
                            dataTag = 'dataInstagram';
                        }else {
                            social = 'teMexe.png';
                            dataTag = 'dataTeMexe';
                        }
                    }
                    %>

                    <!-- POST -->
                    <% for ( var i = 0; i < user.problemsAndSuggestions.length; i++ ) { 

                        var gridSizer = '';
                        if ( i==0 ) {
                            gridSizer = 'grid-sizer';
                        }else{
                            gridSizer = '';
                        }

                        var social = '';
                        var dataTag = '';
                        var varName = user.problemsAndSuggestions[ i ].type;
                        if (varName.localeCompare("fb")==0) {
                            social = 'facebook';
                            dataTag = 'dataFacebook';
                        }else if (varName.localeCompare("tt")==0) {
                            social = 'twitter';
                            dataTag = 'dataTwitter';
                        }else if (varName.localeCompare("insta")==0) {
                            social = 'instagram';
                            dataTag = 'dataInstagram';
                        }else {
                            social = 'teMexe.png';
                            dataTag = 'dataTeMexe';
                        }
                    %>
                    <div class="col-lg-3 col-md-4 col-sm-6 <%=gridSizer%> grid-item <%=dataTag%>">
                        <div class="userPost">
                            <span class="socialInfo">
                                <a href="#">
                                    <% if(varName.localeCompare("suggestion")==0) {%>
                                        <img src="/img/miniCone.png">
                                    <% }else{%>
                                        <i class="fa fa-<%=social%> ig"></i>
                                    <%}%>
                                </a>
                            </span>
                            <a class="userImgName">
                                <img src="/<%= user.photo %>" class="">
                                <span> @<%= user.user %></span>
                            </a>
                            <hr>
                            <div class="mainPicture">
                                <a><img src="/<%= user.problemsAndSuggestions[ i ].image %>"></a>
                            </div>
                            <div class="postContent">
                                <p><%= user.problemsAndSuggestions[ i ].description %></p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 
                                    <%= user.problemsAndSuggestions[ i ].likes %>
                                </a>
                                <a href="#" title="Time posted" class="pull-right timeInfo"><i class="fa fa-clock"></i> <%= user.problemsAndSuggestions[ i ].dataFormatada %></a>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    

                </div> <!-- /grid -->
            </div> <!-- /row -->
            <div class="row text-center">
                <button class="btn btn-banner btn2 redViz fontCursive">View Older Posts</button>
            </div>
        </div> <!-- /container -->
    </div><!-- /containerFeed -->

    <div class="container">
        <!-- <hr class="picview-divider"> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; stalkMe 2016. Created by <a href="#">Paulo Virote de Souza</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>
