<% include partials/head %>

<body>
    <% include partials/nav %>
    <% include partials/modais %>

    <!-- Full Width Image Header -->
    <header class="header-image" id="top">
        <div class="userInfoBanner">
            <div class="container">

                <div class="picview">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <img class="picview-image img-circle img-responsive" src="/<%= user.photo %>">
                    </div>
                    <div class="userInfoBannerIn col-lg-8 col-md-8 col-sm-12 fontCursive">
                        <h2 class="shadowedText"><%= user.nome %></h2>
                        <div class="miniInfo">
                            <a href="#" class="btn btn-banner btn1"><b><%= user.suggestions.length %></b> Sugestões</a>
                            <a href="#" class="btn btn-banner btn2 shadowedText"><b><%= user.problems.length %></b> Reclamações</a>
                        </div>
                        <div class="socialMediaBanner shadowedText">
                            <%
                                var fb = 0;
                                var tw = 0;
                                var it = 0;
                                var tm = 0;
                                for ( var i = 0; i < user.problemsAndSuggestions.length; i++ ) { 
                                    var varName = user.problemsAndSuggestions[ i ].type;

                                    if (varName.localeCompare("fb")==0) {
                                        fb++;
                                    }else if (varName.localeCompare("tt")==0) {
                                        tw++;
                                    }else if (varName.localeCompare("insta")==0) {
                                        it++;
                                    }else {
                                        tm++;
                                    }
                                }
                            %>
                            <a href="#">
                                <div>
                                    <i><img src="/img/miniCone.png"></i>
                                    <span><%=tm%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter-square"></i>
                                    <span><%=tw%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-instagram"></i>
                                    <span><%=it%></span>
                                </div>
                            </a>
                            <a href="#">
                                <div>
                                    <i class="fa fa-facebook-square"></i>
                                    <span><%=fb%></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <% include partials/navInner %>

    <!-- Page Content -->

    <!-- <h1 class="text-center"><span class="redViz fontCursive">Feed</span>.</h1> -->

    <!-- FEED -->
    <div class="containerFeed">
        <div class="container ">
            <div class="row">
                <div class="grid">

                    <% for ( var i = 0; i < user.problemsAndSuggestions.length; i++ ) { 
                        var gridSizer = '';
                        if ( i==0 ) {
                            gridSizer = 'grid-sizer';
                        }

                        var social = '';
                        var dataTag = '';
                        var varName = user.problemsAndSuggestions[ i ].type;
                        if (varName.localeCompare("fb")==0) {
                            social = 'facebook';
                            dataTag = 'dataFacebook';
                        }else if (varName.localeCompare("tt")==0) {
                            social = 'twitter';
                            dataTag = 'dataTwitter';
                        }else if (varName.localeCompare("insta")==0) {
                            social = 'instagram';
                            dataTag = 'dataInstagram';
                        }else {
                            social = 'teMexe.png';
                            dataTag = 'dataTeMexe';
                        }
                    }
                    %>

                    <!-- POST -->
                    <% for ( var i = 0; i < user.problemsAndSuggestions.length; i++ ) { 

                        var gridSizer = '';
                        if ( i==0 ) {
                            gridSizer = 'grid-sizer';
                        }else{
                            gridSizer = '';
                        }

                        var social = '';
                        var dataTag = '';
                        var varName = user.problemsAndSuggestions[ i ].type;
                        if (varName.localeCompare("fb")==0) {
                            social = 'facebook';
                            dataTag = 'dataFacebook';
                        }else if (varName.localeCompare("tt")==0) {
                            social = 'twitter';
                            dataTag = 'dataTwitter';
                        }else if (varName.localeCompare("insta")==0) {
                            social = 'instagram';
                            dataTag = 'dataInstagram';
                        }else {
                            social = 'teMexe.png';
                            dataTag = 'dataTeMexe';
                        }
                    %>
                    <div class="col-lg-3 col-md-4 col-sm-6 <%=gridSizer%> grid-item <%=dataTag%>">
                        <div class="userPost">
                            <span class="socialInfo">
                                <a href="#">
                                    <% if(varName.localeCompare("suggestion")==0) {%>
                                        <img src="/img/miniCone.png">
                                    <% }else{%>
                                        <i class="fa fa-<%=social%> ig"></i>
                                    <%}%>
                                </a>
                            </span>
                            <a class="userImgName" href="/user/<%= user.user %>">
                                <img src="/<%= user.photo %>" class="">
                                <span> @<%= user.user %></span>
                            </a>
                            <hr>
                            <div class="mainPicture">
                                <a><img src="/<%= user.problemsAndSuggestions[ i ].image %>"></a>
                            </div>
                            <div class="postContent">
                                <%if (user.problemsAndSuggestions[i].type == 'suggestion') {%>
                                    <h4><%= user.problemsAndSuggestions[i].title %></h4>
                                <%}%>
                                <p><%= user.problemsAndSuggestions[ i ].description %></p>
                                <hr>
                            </div>
                            <div class="postData fontCursive">
                                <a href="#" title="Like"><i class="fa fa-heart-o"></i> 
                                    <%= user.problemsAndSuggestions[ i ].likes %>
                                </a>
                                <a href="#" title="Time posted" class="pull-right timeInfo"><i class="fa fa-clock"></i> <%= user.problemsAndSuggestions[ i ].dataFormatada %></a>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    

                </div> <!-- /grid -->
            </div> <!-- /row -->
            <div class="row text-center">
                <button class="btn btn-banner btn2 redViz fontCursive">View Older Posts</button>
            </div>
        </div> <!-- /container -->
    </div><!-- /containerFeed -->

    <div class="container">
        <!-- <hr class="picview-divider"> -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; teMexe! 2016. Created by <a href="#">Manga Com Leite</a>.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/scripts.js"></script>

</body>

</html>
